body {
    margin: 0;
    text-align: center;
    font-family: 'merriweather' sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    height: 920px;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.65rem;
    width: 50%;
    margin: 50px auto 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
}

span {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 470px;
}

.top-cloud {
    position: relative;
    left: 250px;
    margin-top: 80px;
}

.mountain {
    position: center;
    width: 53%;
    padding: 0;
}

.profile-picture {
    margin-top: 50px;
}

.skills {
    margin: 50px auto 50px auto;
    text-align: left;
    width: 50%;
    line-height: 2;   
}

.coding {
    float: left;
    width: 18%;
    padding-right: 20px;
}

.intro {
    font-size: ;
}

.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
}
    
.skills-icon {
    width: 25%;
    margin: auto;
    padding: auto;
}
